@{ 
    ViewBag.Title = "AboutUs";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Mobirise v4.3.5, mobirisethemes.com">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="assets/images/logo2.png" type="image/x-icon">
    <title>About Us</title>
    <link rel="stylesheet" href="~/assets/web/assets/mobirise-icons/mobirise-icons.css">
    <link rel="stylesheet" href="~/assets/tether/tether.min.css">
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="~/assets/dropdown/css/style.css">
    <link rel="stylesheet" href="~/assets/theme/css/style.css">
    <link rel="stylesheet" href="~/assets/mobirise/css/mbr-additional.css" type="text/css">



</head>
<body>
   
    <section class="header1 cid-qyvisAZ1Bw" id="header1-7" data-rv-view="758">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="mbr-white col-md-10">
                    <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-5">The Reefbook</h1>
                    <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-2">MEET OUR TEAM</h3>
                    <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">
                                            Students from De La Salle - College of Saint Benilde that has a vision of protecting our coral reefs. We humans have habitat that we really love, thus we must also love the habitat
                                            that other creatures had - the coral reefs. Come and Join Us in this advocacy.</p>
                    <div class="mbr-section-btn align-center">
                        <a class="btn btn-md btn-black-outline display-4" href="index.html#form1-4">
                            CONTACT US
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="cid-qyvcqB36eR">
        <div class="container">
            <div class="row justify-content-md-center">
                <div style="text-align:center">

                    <iframe class="center" width="560" height="315" src="https://www.youtube.com/embed/tpnobHN9w2s" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h4 class="text-white">Watch and learn more abour ReefBook</h4>
                </div>
            </div>
        </div>
    </section>
   
    <section class="features1 cid-qyvcAqZyNq" id="features1-1" data-rv-view="764">
        <div class="container">
            <div class="media-container-row">

                <div class="card p-3 col-12 col-md-6 col-lg-4">
                    <div class="card-img pb-3">
                        <span class="mbr-iconfont mbri-users" style="color: rgb(0, 0, 0);" media-simple="true"></span>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title py-3 mbr-fonts-style display-5">
                            Share
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Share our advocacy, and be part of it, Share the good things will happen to those who share. 
                        </p>
                    </div>
                </div>

                <div class="card p-3 col-12 col-md-6 col-lg-4">
                    <div class="card-img pb-3">
                        <span class="mbr-iconfont mbri-globe" style="color: rgb(0, 0, 0);" media-simple="true"></span>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title py-3 mbr-fonts-style display-5">
                            Protect
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                          Protect our environment as how God protects us.
                        </p>
                    </div>
                </div>

                <div class="card p-3 col-12 col-md-6 col-lg-4">
                    <div class="card-img pb-3">
                        <span class="mbr-iconfont mbri-smile-face" style="color: rgb(0, 0, 0);" media-simple="true"></span>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title py-3 mbr-fonts-style display-5">
                            Be One
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Let us be one in cleaning our nature and loving it. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="carousel slide testimonials-slider cid-qyvf5AQs7c bg-light"  id="testimonials-slider1-3" data-rv-view="767">
        <div class="container text-center">
            <div class="carousel slide" data-ride="carousel" role="listbox">
                <div class="carousel-inner">
                    <div class="carousel-item">
                        <div class="user col-md-8">
                            <div class="user_image">
                                <img src="~/img/resume ni gian.jpg" alt="" title="" media-simple="true">
                            </div>
                            <div class="user_text pb-3">
                                <p class="mbr-fonts-style display-7">
                                  I am Gian, they call me GCC, G or Gian, anything you want. 
                                    I  Asipire to be a designer in the future. 
                                    Likes to edit videos, photos, and different stuffs related to business.     
                                    I love to cook and eat, and you'll never be hungry with me.
                                </p>
                            </div>
                            <div class="user_name mbr-bold pb-2 mbr-fonts-style display-7">
                                Gian
                            </div>
                            <div class="user_desk mbr-light mbr-fonts-style display-7">
                                DESIGNER
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="user col-md-8">
                            <div class="user_image">
                                <img src="~/img/adricute.jpg" alt="" title="" media-simple="true">
                            </div>
                            <div class="user_text pb-3">
                                <p class="mbr-fonts-style display-7">
                                    I am Adrian Go and some of my friends call me "Adri" Fun facts about me is first, 
                                    I love making people happy by doing crazy stuff. Second, I am a sporty person. 
                                    I used to play many sports like basketball, volleyball, badminton etc. 
                                    I also love to express myself by playing instruments and by dancing. 
                                    One of the things I used to do when I am bored is beatboxing using human voice. 
                                    Most of the time I spend my time playing online games like DotA, Csgo and more.
                                </p>
                            </div>
                            <div class="user_name mbr-bold pb-2 mbr-fonts-style display-7">
                                Adrian
                            </div>
                            <div class="user_desk mbr-light mbr-fonts-style display-7">
                                DEVELOPER
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="user col-md-8">
                            <div class="user_image">
                                <img src="~/img/brent.jpg" alt="" title="" media-simple="true">
                            </div>
                            <div class="user_text pb-3">
                                <p class="mbr-fonts-style display-7">
                                 I am Brent, you can call me anything you want.
                                    Loves to play games and the mind when it comes to programming.
                                    Can debug anything and can spot errors.
                                    Just one chat away. 
                                </p>
                            </div>
                            <div class="user_name mbr-bold pb-2 mbr-fonts-style display-7">
                                Brent
                            </div>
                            <div class="user_desk mbr-light mbr-fonts-style display-7">
                                DEVELOPER
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="user col-md-8">
                            <div class="user_image">
                                
                                <img src="~/img/12717739_1153156028042995_4572754562761373307_n.jpg" alt="" title="" media-simple="true">
                            </div>
                        <div class="user_text pb-3">
                            <p class="mbr-fonts-style display-7">
                             I am Aleeza, you can call me Leez. I love to watch anime and Frozen is my favorite movie.
                                I love cats and love to play games allnight.
                                Leads the group as well as helps them in finishing this project eagerly. 
                            </p>
                        </div>
                        <div class="user_name mbr-bold pb-2 mbr-fonts-style display-7">
                            Aleeza
                        </div>
                        <div class="user_desk mbr-light mbr-fonts-style display-7">
                            LEADER
                        </div>
                    </div>
                </div>
            </div>

                <div class="carousel-controls">
                    <a class="carousel-control-prev" role="button" data-slide="prev">
                        <span aria-hidden="true" class="mbri-arrow-prev mbr-iconfont"></span>
                        <span class="sr-only">Previous</span>
                    </a>

                    <a class="carousel-control-next" role="button" data-slide="next">
                        <span aria-hidden="true" class="mbri-arrow-next mbr-iconfont"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    

    <section once="" class="cid-qyvfbdUvMJ" id="footer6-5" data-rv-view="794">
        <div class="container">
            <div class="media-container-row align-center mbr-white">
                <div class="col-12">
                    <p class="mbr-text mb-0 mbr-fonts-style display-7">
                        © Copyright 2019 <a href="https://mobirisethemes.com" class="text-black">ReefBook</a> - All Rights Reserved
                    </p>
                </div>
            </div>
        </div>
    </section>
    
    <script src="~/assets/web/assets/jquery/jquery.min.js"></script>
    <script src="~/assets/popper/popper.min.js"></script>
    <script src="~/assets/tether/tether.min.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/dropdown/js/script.min.js"></script>
    <script src="~/assets/touch-swipe/jquery.touch-swipe.min.js"></script>
    <script src="~/assets/bootstrap-carousel-swipe/bootstrap-carousel-swipe.js"></script>
    <script src="~/assets/smooth-scroll/smooth-scroll.js"></script>
    <script src="~/assets/theme/js/script.js"></script>
    <script src="~/assets/formoid/formoid.min.js"></script>


</body>
</html>